*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    background-color: pink;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Mainpage{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mainpage .navbar{
    width: 40%;
    height: 10vh;
    background-color: blue;
    margin-left: 600px;
    
}

